<h1>Question</h1>


<!-- 
<p>
<label for="var2">Variable 2: </label>
<input type="text" name="var2" id="var2"><span class="removeVar">Remove Variable</span>
</p> -->

<form id="form_questions" action="/survey/question_answer_survey" method="post">

  <p>
  <center><span style="border:solid 1px ; background-color: blue; color:white" id="addVar">Add Question</span></center>
  </p>
  <p>
  <input type="submit" value="Generar">
  </p>
 
</form>


  <form action="/salir" method="get">
    <br><input type="submit" value="Salir!"> <br>
  </form>